---

---

<div class="relative flex overflow-x-hidden">
    <div class="py-12 animate-marquee whitespace-nowrap">
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
    </div>

    <div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
        <a href="/about" class="text-6xl mx-4 hover:underline hover:underline-offset-8">Learn more about me.</a>
    </div>
</div>
