---

---

<div class="relative flex overflow-x-hidden">
	<div class="animate-marquee whitespace-nowrap py-12">
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
	</div>

	<div class="absolute top-0 animate-marquee2 whitespace-nowrap py-12">
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
		<a href="/about" class="mx-4 text-6xl hover:underline hover:underline-offset-8"
			>Learn more about me.</a
		>
	</div>
</div>
