---
import SectionHeading from '../reuseable/SectionHeading.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../reuseable/FormattedDate.astro'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<SectionHeading title="Latest from my blog." />
<div class="flex flex-col gap-y-3">
    <div class="grid grid-cols-2 gap-9 leading-tight">
        {
            posts.map((post) => (
                    <a href={`/blog/${post.slug}/`} class="relative flex flex-col gap-y-3.5 pr-4 pb-6">
                        <div class="flex gap-x-4 items-baseline">
                            <span class="w-20 h-[1px] bg-gray-400"></span>
                            <p class="text-gray-500">
                                <FormattedDate date={post.data.pubDate} />
                            </p>
                        </div>
                        <div>
                            <h3 class="text-xl font-bold">{post.data.title}</h3>
                            <p class="mt-1">{post.data.description}</p>
                        </div>
                        <div class="absolute bottom-0 right-0 bg-primary bg-opacity-20 w-32 h-24 rounded-tl-full"></div>
                    </a>
            ))
        }
    </div>
    <a class="font-bold" href="/blog/">
        <span class="highlight">View all posts</span>
    </a>
</div>
