---
import SectionHeading from '../reuseable/SectionHeading.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../reuseable/FormattedDate.astro'
import Link from '../reuseable/Link.astro'

const posts = (await getCollection('blog'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
---

<div class="flex flex-col gap-y-9">
	<SectionHeading title="Latest from my blog." />
	<div class="flex flex-col gap-y-3">
		<div class="grid grid-cols-1 gap-9 leading-tight md:grid-cols-2">
			{
				posts.map((post) => (
					<a href={`/blog/${post.slug}/`} class="group relative flex flex-col gap-y-3.5 pb-6 pr-4">
						<div class="flex items-baseline gap-x-4">
							<span class="h-[1px] w-20 bg-gray-400" />
							<p class="text-gray-500">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</div>
						<div>
							<h3 class="text-xl font-bold group-hover:underline">{post.data.title}</h3>
							<p class="mt-1 line-clamp-4 group-hover:underline">{post.data.description}</p>
						</div>
						<div class="absolute bottom-0 right-0 h-24 w-32 rounded-tl-full bg-primary/10" />
					</a>
				))
			}
		</div>
		<Link href="/blog/" name="View all posts" />
	</div>
</div>
