---
import { Icon } from 'astro-icon/components'
import SocialButton from '../reuseable/SocialButton.astro'
import Button from '../reuseable/Button.astro'
---

<div class="relative">
	<div
		class="absolute -right-4 -top-[30%] hidden h-[110%] w-1/3 bg-primary bg-opacity-10 md:block xl:-right-24"
	>
	</div>
	<div
		class="absolute -right-4 -top-[30%] hidden h-[130%] w-1/4 bg-primary bg-opacity-10 md:block xl:-right-24"
	>
	</div>
	<div class="flex max-w-full flex-col gap-y-8 sm:max-w-4xl">
		<h1 class="text-accent text-6xl">
			<span class="highlight">Creative developer</span> and freelancer based in Munich.
		</h1>
		<p class="text-4xl leading-snug">
			Romanian freelancer, open source developer, creator of pystreamapi and student living in
			Germany. Driven by my passion for good software I build client and open source software.
		</p>
		<div class="flex flex-col items-start gap-4 sm:flex-row">
			<Button href="/about" title="More about me" action="primary" />
			<div class="flex items-center gap-x-4">
				<span class="h-[2px] w-16 bg-black"></span>
				<SocialButton href="https://github.com/PickwickSoft/">
					<Icon name="github" />
				</SocialButton>
				<SocialButton href="https://de.linkedin.com/in/stefan-garlonta">
					<Icon name="linkedin" />
				</SocialButton>
			</div>
		</div>
	</div>
</div>
