---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from 'astro:content';
import SectionHeading from "../reuseable/SectionHeading.astro";

const allProjects = await getCollection('project');
---
<SectionHeading title="Things I built."/>
<div class="grid grid-cols-2 gap-9">
    {
        allProjects.map((project) => (
            <ProjectCard project={project} />
        ))
    }
</div>
