---
import type { CollectionEntry } from 'astro:content'
import { Picture } from 'astro:assets'
import Line from '../reuseable/Line.astro'
import Chips from '../reuseable/Chips.astro'
import { ImageMetadata } from 'astro'

interface Props {
	project: CollectionEntry<'project'>
}

const { project } = Astro.props
---

<a
	href={project.data.address || '#'}
	target={project.data.address ? '_blank' : '_self'}
	class="group flex flex-col justify-between gap-y-5 bg-primary bg-opacity-[15%] px-9 pt-5 sm:px-14"
>
	<div class="flex items-baseline gap-x-9">
		<h3 class="text-4xl md:text-5xl">{project.data.title}</h3>
		<Line />
	</div>
	<p class="text-balance text-xl">{project.data.description}</p>
	<Chips data={project.data.tags} />
	<div class="h-auto w-full overflow-hidden">
		<Picture
			src={project.data.heroImage as ImageMetadata}
			alt={project.data.title}
			width={1000}
			height={600}
			formats={['webp']}
			fallbackFormat="jpeg"
			class="h-auto w-full transition-all duration-500 group-hover:scale-110"
		/>
	</div>
</a>
