/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--underline-intrinsic-width: 8;
	--underline-width: 12;
	--underline-color: #f1a1e3;
	--underline-cap-width: 4px;
	--underline-offset-y: -2px;
	--underline-padding-x: 0.12em;
}

/* space-grotesk-latin-wght-normal */
@font-face {
	font-family: 'Space Grotesk Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url(@fontsource-variable/space-grotesk/files/space-grotesk-latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

/* space-grotesk-latin-ext-wght-normal */
@font-face {
	font-family: 'Space Grotesk Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url(@fontsource-variable/space-grotesk/files/space-grotesk-latin-ext-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* nunito-latin-wght-normal */
@font-face {
	font-family: 'Nunito Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 200 1000;
	src: url(@fontsource-variable/nunito/files/nunito-latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}

/* nunito-latin-ext-wght-normal */
@font-face {
	font-family: 'Nunito Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 200 1000;
	src: url(@fontsource-variable/nunito/files/nunito-latin-ext-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
	font-family: 'Nunito Variable', sans-serif;
	overflow-wrap: break-word;
	@apply m-0 break-words bg-[100%_600px] p-0 text-left text-xl leading-7 text-black selection:bg-[#ece6fc] selection:text-black;
}

main {
	@apply mx-auto mt-28 max-w-7xl px-4;
}

img {
	max-width: 100%;
	height: auto;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.text-accent {
	font-family: 'Space Grotesk Variable', sans-serif;
}

.highlight {
	text-decoration: none;
	background-size: 100% 30%;
	background-position: 0 85%;
	background-repeat: no-repeat;
	@apply bg-gradient-to-r from-primary/10 to-primary/10;
}

html {
	scroll-behavior: smooth;
}

[data-icon] use {
	fill: white;
}

[social-link]:hover [data-icon] use {
	fill: black;
}

svg path {
	fill: currentColor;
}
