---
const { href, title, action } = Astro.props
const style = action === 'primary' ? 'bg-primary' : 'bg-black'
---
<a href={href} class:list={['px-5 py-4 text-4xl text-white text-accent font-bold selection:text-white', style]}>{ title }</a>
