---
const { name, href, class: className } = Astro.props
---

<div>
	<a
		class:list={[
			'font-bold text-primary/80 underline decoration-primary/80 hover:text-primary hover:decoration-primary',
			className
		]}
		href={href}
	>
		{name}
	</a>
</div>
