---
import type { HTMLAttributes } from 'astro/types'
import { SITE_SLOGAN } from '../../consts'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props
---

<h2 class:list={['text-accent w-min text-black', className]}>
	<a class="" href={href}>
		<p class="text-4xl"><span class:list={['text-primary', className]}>p</span>ickwicksoft.</p>
		<p class="text-right text-xl leading-3">{SITE_SLOGAN}</p>
	</a>
</h2>
