---

---

<div
	class="prose-h3:text2xl prose prose-xl w-full overflow-x-hidden prose-h4:prose-xl marker:text-primary prose-h2:text-3xl prose-p:text-justify prose-p:leading-relaxed prose-a:text-primary prose-ul:list-inside prose-ul:list-[square]"
>
	<slot />
</div>
