---
import { Icon } from 'astro-icon/components'
const { href, class: className } = Astro.props
---

<div class="relative flex">
	<a
		social-link
		href={href}
		target="_blank"
		class:list={[
			'border-2 border-black bg-black px-5 py-4 text-4xl text-white transition-all duration-200 ease-in-out hover:bg-white hover:text-black md:px-6 md:py-5',
			className
		]}
		aria-label="Social link"
	>
		<slot />
	</a>
</div>
