---
const { href, class: className } = Astro.props
---

<a
	href={href}
	target="_blank"
	class:list={['bg-black px-5 py-4 text-4xl text-white md:px-6 md:py-5', className]}
	aria-label="Social link"
>
	<slot />
</a>
