---
import SectionHeading from '../reuseable/SectionHeading.astro'
---

<div class="m-0 bg-primary/10 lxl:-mx-24">
	<div class="m-auto flex max-w-7xl flex-col gap-3 p-9 md:flex-row md:gap-9">
		<SectionHeading title="Who I am." class="shrink-0" />
		<p class="text-justify">
			<span class="editable">
			I am a freelancer, open source developer and student living in Munich, Germany. In my over 5
			years of experience in coding I have covered lots of technological areas from core libraries
			over Linux desktop applications to Web applications with modern web technologies. In my eyes
			being always informed about new developments in the technological world is important to ship
			good and efficient software. In my free time I love running, being out in the mountains and
			playing the guitar.
			</span>
		</p>
	</div>
</div>
