---
import { Picture } from 'astro:assets'
import profile from '../../assets/profile.png'
---

<div class="relative">
	<div class="flex flex-col items-center gap-x-16 gap-y-9 md:flex-row">
		<div class="flex w-full flex-row md:min-w-[200px] lg:min-w-[300px]">
			<Picture
				src={profile}
				alt="Stefan Garlonta"
				formats={['webp']}
				fallbackFormat="jpeg"
				widths={[300, 400, 600]}
				class="h-60 w-60 max-w-full rounded-full bg-primary/10 object-cover object-top md:h-full md:w-full md:rounded-none md:bg-white"
			/>
		</div>
		<h1 class="text-accent shrink text-balance text-4xl xl:text-6xl">
			<span class="highlight">High Innovation</span> is what really matters. I’m Stefan Garlonta and
			exactly this is what I try to achieve with my work as a freelancer and as an open source developer.
		</h1>
	</div>
</div>
