---

---

<div class="relative">
	<div class="flex flex-col-reverse items-center gap-x-16 gap-y-9 sm:flex-row">
		<img src="https://placehold.co/300x380" class="w-full" />
		<h1 class="text-accent text-balance text-4xl sm:text-5xl md:text-6xl">
			<span class="highlight">High Innovation</span> is what really matters. I’m Stefan Garlonta and
			exactly this is what I try to achieve with my work as a freelancer and as an open source developer.
		</h1>
	</div>
</div>
