---

---

<div class="relative">
	<div class="flex items-center gap-x-9">
		<img src="https://placehold.co/300x380" />
		<h1 class="text-accent text-balance text-6xl">
			<span class="highlight">High Innovation</span> is what really matters. I’m Stefan Garlonta and
			exactly this is what I try to achieve with my work as a freelancer and as an open source developer.
		</h1>
	</div>
</div>
