---
import { getCollection } from 'astro:content'
import Link from '../reuseable/Link.astro'
import SectionHeading from '../reuseable/SectionHeading.astro'
import SkillsList from './SkillsList.astro'

let skills = await getCollection('skill')
---

<div>
	<SectionHeading class="mb-9" title="Skills." />
	<div class="mb-5 grid grid-cols-1 gap-9 sm:grid-cols-2 md:grid-cols-3">
		<SkillsList skills={skills} />
	</div>
	<Link href="/generate/resume/" target="_blank" name="Download resume (german)" />
</div>
