---
import SectionHeading from '../reuseable/SectionHeading.astro'
---

<div class="flex w-full flex-col gap-6 md:w-1/2">
	<div>
		<SectionHeading class="!text-3xl md:!text-3xl" title="Working with me you will get:" />
		<ul class="list-inside list-[square] marker:text-primary">
			<li>A modern and performant solution</li>
			<li>Consultation and support</li>
			<li>An experienced freelancer with a passion for perfect software</li>
			<li>Clear and professional help for improving your technology</li>
		</ul>
	</div>
	<div>
		<SectionHeading class="!text-3xl md:!text-3xl" title="How do you work with clients?" />
		<p>
			I provide flexible working arrangements, whether it's on a <span class="text-primary"
				>project basis</span
			> with clear objectives and timelines, or <span class="text-primary">hourly</span> for ongoing
			support. <br />
			Additionally, I offer consultation services for strategy, planning, and project guidance.
		</p>
	</div>
	<div>
		<SectionHeading class="!text-3xl md:!text-3xl" title="What happens after submit?" />
		<p>
			After you submit I will try to get back to you within 72 hours via Email. Afterwards we’ll
			have a cal.com call to discuss the project, your business, and how I can help.
			<br />I will also provide you with concrete details about how I imagine to work on your
			project.
		</p>
	</div>
</div>
