---
import type { HTMLAttributes } from 'astro/types';
import {SITE_SLOGAN} from "../consts";

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
---

<h2 class="text-black text-accent">
    <a class="" href={href}>
        <p class="text-4xl"><span class="text-primary">p</span>ickwicksoft</p>
        <p class="text-lg text-right leading-3">{SITE_SLOGAN}</p>
    </a>
</h2>
