---
import { Image } from 'astro:assets'
import Link from '../reuseable/Link.astro'
import TableOfContents from './TableOfContents.astro'
import profile from '../../assets/profil.png'
const { headings } = Astro.props
---

<div class="flex min-w-52 max-w-64 flex-row gap-x-6 gap-y-2 md:flex-col">
	<Image src={profile} alt="Stefan Garlonta" width="64" class="h-16 w-16 rounded-full" />
	<div class="mb-9 flex flex-col">
		<p class="font-bold">Stefan Garlonta</p>
		<p class="hidden text-gray-500 md:block">
			Romanian freelancer, open source developer and student living in Germany. Driven by my passion
			for good software I build client and open source software.
		</p>
		<Link href="/about" name="More about me" />
	</div>
	<TableOfContents headings={headings} />
</div>
