---
let { tags } = Astro.props
tags = tags.filter((value, index, array) => array.indexOf(value) === index).sort()
tags.unshift('All')
---

<div class="flex justify-end gap-3">
	{
		tags.map((tag) => (
			<label class="cursor-pointer select-none px-3 py-2 hover:bg-violet-50 has-[:checked]:bg-primary has-[:checked]:bg-opacity-20">
				<input type="radio" name="tags" value={tag} checked={tag === tags[0]} class="hidden" />
				{tag}
			</label>
		))
	}
</div>
