---
let { tags, selectedTag } = Astro.props
tags = tags.filter((value, index, array) => array.indexOf(value) === index).sort()
tags.unshift('All')
console.log(selectedTag)
---

<div class="flex justify-start gap-3 overflow-x-scroll sm:justify-end md:overflow-hidden">
	{
		tags.map((tag) => (
			<a
				href={tag.toLowerCase() == 'all' ? '/blog' : '/blog/tags/' + tag}
				class:list={[
					'shrink-0 cursor-pointer select-none text-nowrap px-3 py-2 hover:bg-violet-50',
					selectedTag.toLowerCase() == tag.toLowerCase() ? 'bg-primary/10 hover:bg-primary/10' : ''
				]}
			>
				{tag}
			</a>
		))
	}
</div>
