---
import Footer from '../components/Footer.astro'
import BaseHead from '../components/head/BaseHead.astro'
import Header from '../components/head/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title ? title : SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="mb-14 flex flex-col gap-y-14">
			<slot />
		</main>
		<Footer />
	</body>
</html>
